<html>
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
    <div>
      <p>
        Verification code:
        <h2>{{code}}</h2>
      </p>
      <p>
        <a href={{frontendUrl}} api auth verify?code={{code}}>Confirm registration</a>
      </p>
    </div>
  </body>
</html>